@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Playfair Display', serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* Utility Classes */
.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex {
    display: flex;
    align-items: center;
}
.hover-links{
    color: var(--primary-text-color);

}
.hover-links:hover{
    color: var(--accent-color);
    border-radius: 6 px;
    font-weight: 700;
    
}
.primary-button{
    background-color: var(--accent-color);
    color: white !important;
    padding:2px 20px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    

}
.primary-button:hover {
    background-color: var(--accent-color-dark);
}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color)!important;
    padding: 2px 24px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-radius: var(--accent-color);
    color: var(--accent-color) !important;
}

/* Top Banner */
.top-banner {
    background-color: #2294ed;
}

.banner-text {
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.main-nav {
    justify-content: space-between;
}

.company-logo img {
    width: 200px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
    align-items: flex-start;
}
header{
    padding: 50px var(--padding-inline-section) 0;
}
.header-section{
    justify-content: center;
    gap: 50px;
}
.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
}
.header-left p{
    margin-top: 10px;
}
.get-started-button{
    margin-top: 20px;
}
.header-right img{
    width: 600px;
    height:400px;
}
/*companies header*/
.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);

}
.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height:46px;
}

/* features section */
.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/circle1.jpg);
    background-repeat: no-repeat;
    background-position: center;

}
.features-header{
    text-align: center;
}
.features-header h2{
    margin-bottom: 20px;
}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}
.features-card{
    flex-direction: column;
    gap : 20px;
    max-width : 30%;
    text-align : center;
}
.img-card{
    width:100px;
    height: 100px;
}

/*big features section*/
.big-features-section{
    padding: 30 px var(--padding-inline-section) 0;
    background-image: url(./assets/circle1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    
    
}
.big-feature-container{
    gap:30px;
}
.feature-img{
    width:100%;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}
.big-features-section-1{
    padding: 30 px var(--padding-inline-section) 0;
    background-image: url(./assets/circle1.jpg);
    background-repeat: no-repeat;
    background-position: left;
    
}
/* examples section*/
.examples-header{
 flex-direction: column;
 gap: 20px;
}
.examples-area{
    justify-content: space-between;
    margin-block: 30px;
}
.examples-card{
    width:23%;
    position:relative;
    min-height: 300px;
    background: black;
    background-image: linear-gradient(rgb(0,0,0,0.1) , rgb(0,0,0,0.5)),url(./bluebg.jpg);
    background-size: cover;
    transition: 0.2s ease-out;
}
.card-text{
    position:absolute;
    bottom:20px;
    left:20px;
    right:20px;
    color:white;
}
.examples-card:hover{
    box-shadow: 0 0 10px #888;
}
.cta-section-container{
    flex-direction: column;
    gap: 30px;
    color: black;
    
}
.cta-section{
    background-image: url(./assets/circle1.jpg);
    padding: 120px var(--padding-inline-section) 80px;
    background-position: center;
    background-repeat: no-repeat;
}
.cta-section-container p{
   color: black;
   margin-top: 20px; 
}
/*footer section*/
.footer{
    padding-block: 80px;
    background-color: #ebf2fa;

}
.link-column{
    flex-direction: column;
    align-items:flex-start;
    gap: 20px;

}
.footer-container{
    margin-block: 20px;
   align-items: flex-start;
   justify-content: space-between; 
}
.sub-footer{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}
.sub-footer-container{
    margin-block: 20px;
    justify-content: center;
    gap: 30px;
}




